<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>marModelsPrac</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Cows</h1>
    <table>
        <thead>
            <tr>
                <th>
                    
                </th>
            </tr>
            <td>

            </td>
        </thead>
    </table>
    <form action = "/create" method="POST">
        {% csrf_token %}
        Nmae: <input type="text" name="cow_name">
        <input type="text" name="grass">
        <input type="text" name="activity">
        <input type="submit" name="Submit">
    </form>
</body>
</html>